<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <servlet>
        <servlet-name>Response Servlet</servlet-name>
        <servlet-class>task1.ResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>My Servlet</servlet-name>
        <servlet-class>task2.MyServlet</servlet-class>
        <init-param>
            <param-name>blockedQueryParam</param-name>
            <param-value>Stanislav</param-value>
        </init-param>
        >
    </servlet>
    <servlet-mapping>
        <servlet-name>Response Servlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>My Servlet</servlet-name>
        <url-pattern>/helloo</url-pattern>
    </servlet-mapping>
</web-app>